<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) %msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="info">
            <!--控制台输出推荐只在本地调试时使用，线上将该配置去掉-->
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>