<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 Meituan Dianping. All rights reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="serviceProcessor" class="com.meituan.dorado.test.thrift.apitwitter.TwitterImpl"/>

    <bean id="serverPublisher" class="com.meituan.dorado.config.service.spring.ServiceBean" destroy-method="destroy">
        <property name="appkey" value="com.meituan.octo.dorado.server"/>
        <property name="port" value="9009"/>
        <property name="registry" value="mock://"/>
        <property name="serviceConfig" ref="serviceConfig"/>
        <property name="filters">
            <list>
                <bean class="com.meituan.dorado.test.thrift.filter.TraceFilter" />
                <bean class="com.meituan.dorado.test.thrift.filter.ServerQpsLimitFilter" />
                <bean class="com.meituan.dorado.test.thrift.filter.ProviderFilter" />
                <bean class="com.meituan.dorado.test.thrift.filter.CustomFilter1" />
                <bean class="com.meituan.dorado.test.thrift.filter.CustomFilter2" />
            </list>
        </property>
    </bean>

    <bean id="serviceConfig" class="com.meituan.dorado.config.service.ServiceConfig">
        <property name="serviceInterface" value="com.meituan.dorado.test.thrift.apitwitter.Twitter"/>
        <property name="serviceImpl" ref="serviceProcessor"/>
    </bean>
</beans>